<section class="main">
  <div class="container">
    <ng-container *ngIf="dashboard$ | async as states" class="cards-main">
      <div *ngIf="isMobile">
        <owl-carousel
          [options]="{ items: 1 }"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
        >
          <app-cards
            style="max-width: 200px"
            *ngFor="let item of states.consolidado"
            [item]="item"
          ></app-cards>
        </owl-carousel>
      </div>
    </ng-container>

    <div class="container-charts">
      <div class="charts">
        <ng-container *ngIf="dashboard$ | async as states">
          <app-highcharts
            [minDate]="states.lastdate"
            (send)="onDatesChanges($event)"
            type="spline"
            [data]="states.outcome_income"
          >
          </app-highcharts>
        </ng-container>
        <ng-container *ngIf="dashboard$ | async as states">
          <app-list-registers
            *ngFor="let item of states.all"
            [item]="item"
          ></app-list-registers>
        </ng-container>
      </div>
      <div class="cards-consolidado" *ngIf="!isMobile">
        <ng-container *ngIf="dashboard$ | async as states">
          <app-cards *ngFor="let item of states.consolidado" [item]="item">
          </app-cards>
        </ng-container>
      </div>
    </div>
  </div>
</section>
