<section class="main">
  <!-- <app-title title="Dashboard" subtitle="geral"></app-title> -->
  <!-- <div *ngIf="!isMobile" class="cards-main">
    <app-cards
      [isLoading]="isMainLoading"
      *ngFor="let item of cards"
      [item]="item"
      [value]="item.value || 0"
    >
    </app-cards>
  </div> -->

  <!-- <div *ngIf="!isMobile && isMainLoading" class="cards-main">
    <app-cards [isLoading]="isMainLoading" *ngFor="let item of cards" [item]="item" [value]="item.value"></app-cards>
  </div> -->

  <!-- <div *ngIf="isMobile" class="cards-main">
    <owl-carousel
      [options]="{ items: 1 }"
      style="width: 100%"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <app-cards
        [isLoading]="isMainLoading"
        style="max-width: 200px"
        *ngFor="let item of cards"
        [item]="item"
        [value]="item.value"
      ></app-cards>
    </owl-carousel>
  </div> -->

  <div class="container">
    <div class="chart">
      <app-title title="Gráfico de despesas"></app-title>
      <app-highcharts
        [minDate]="minDate"
        (send)="onDatesListening($event)"
        [dtEnd]="dates?.outcome.dt_end"
        [dtStart]="dates?.outcome.dt_start"
        [tabChanged]="tabChanged"
        operation="despesas"
        [evolucao]="EVOLUCAO_DESPESAS_DATA"
      >
      </app-highcharts>
    </div>

    <div class="chart-group">
      <div class="chart">
        <app-title title="Gráficos de receitas"></app-title>
        <app-highcharts
          [minDate]="minDate"
          (send)="onDatesListening($event)"
          [dtEnd]="dates?.income.dt_end"
          [dtStart]="dates?.income.dt_start"
          [tabChanged]="tabChanged"
          operation="receita"
          [evolucao]="EVOLUCAO_DATA"
        >
        </app-highcharts>
      </div>

      <div class="chart">
        <app-title title="Gráfico de categorias"></app-title>
        <app-highcharts
          [minDate]="minDate"
          (send)="onDatesListening($event)"
          [dtEnd]="dates?.category.dt_end"
          [dtStart]="dates?.category.dt_start"
          [tabChanged]="tabChanged"
          operation="categoria"
          [category]="CATEGORY_DATA"
        >
        </app-highcharts>
      </div>
    </div>
    <div style="width: 100%; max-height: 400px; overflow: hidden auto">
      <app-list-registers
        *ngFor="let item of ELEMENT_DATA"
        [item]="item"
      ></app-list-registers>
    </div>
  </div>

  <!-- <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Categoria">
      <app-highcharts
        [minDate]="minDate"
        (send)="onDatesListening($event)"
        [dtEnd]="dates?.category.dt_end"
        [dtStart]="dates?.category.dt_start"
        [tabChanged]="tabChanged"
        operation="categoria"
        [category]="CATEGORY_DATA"
      >
      </app-highcharts>
    </mat-tab>
    <mat-tab label="Despesas">
      <app-highcharts
        [minDate]="minDate"
        (send)="onDatesListening($event)"
        [dtEnd]="dates?.outcome.dt_end"
        [dtStart]="dates?.outcome.dt_start"
        [tabChanged]="tabChanged"
        operation="despesas"
        [evolucao]="EVOLUCAO_DESPESAS_DATA"
      >
      </app-highcharts>
    </mat-tab>
    <mat-tab label="Receita">
      <app-highcharts
        [minDate]="minDate"
        (send)="onDatesListening($event)"
        [dtEnd]="dates?.income.dt_end"
        [dtStart]="dates?.income.dt_start"
        [tabChanged]="tabChanged"
        operation="receita"
        [evolucao]="EVOLUCAO_DATA"
      >
      </app-highcharts>
    </mat-tab>
  </mat-tab-group> -->

  <!-- <div class="analise">
    <app-panel-control
      [filterByDays]="filterByDays"
      [aPagar]="aPagar"
      [aReceber]="aReceber"
      [total]="total"
      [totalReceita]="totalReceita"
      [totalDespesa]="totalDespesa"
    >
    </app-panel-control>
  </div> -->

  <!-- <div *ngIf="!isMobile" class="highchart">
    <div class="col-7">
      <app-title title="Despesas"></app-title>
      <app-highcharts operation="despesas" [evolucao]="EVOLUCAO_DESPESAS_DATA"></app-highcharts>
    </div>

    <div class="col-7">
      <app-title title="Receitas"></app-title>
      <app-highcharts operation="receita" [evolucao]="EVOLUCAO_DATA"></app-highcharts>
    </div>
  </div>

  <div *ngIf="isMobile" class="highchart">
    <owl-carousel [options]="{items: 1}" style="width: 100%;" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="col-7">
        <app-title title="Despesas"></app-title>
        <app-highcharts [evolucao]="EVOLUCAO_DESPESAS_DATA"></app-highcharts>
      </div>

      <div class="col-7">
        <app-title title="Receitas"></app-title>
        <app-highcharts [evolucao]="EVOLUCAO_DATA"></app-highcharts>
      </div>
    </owl-carousel>
  </div> -->

  <!-- <div style="margin-bottom: 80px; max-height: 450px; overflow: hidden auto">
    <app-list-registers
      *ngFor="let item of ELEMENT_DATA"
      [item]="item"
    ></app-list-registers>
  </div> -->

  <!-- <div class="col-7">
    <app-title title="Categoria"></app-title>
    <app-highcharts operation="categoria" [evolucao]="EVOLUCAO_DATA"></app-highcharts>
  </div> -->
</section>
