@import '../../../../themes/mixins';

.main {
  @include padding-page;

  ::ng-deep .mat-tab-labels {
    justify-content: space-between;
  }
  .container-charts,
  .cards-main,
  .highchart {
    display: flex;
  }
  .container-charts {
    gap: 20px;
    overflow: hidden auto;
    justify-content: space-between;
    .charts {
      width: 768px;
    }
    .cards-consolidado {
      width: 250px;
    }
  }
  ::ng-deep .mat-tab-label {
    padding: 0;
    flex-grow: 0 !important;
    justify-content: flex-start;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    background: rgba(0, 0, 0, 0.15);
  }
  ::ng-deep .mat-ink-bar {
    background-color: transparent !important;
  }
  ::ng-deep .mat-tab-header {
    border: none;
    padding: 0;
  }
  ::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: var(--color-medium-white);
  }
  ::ng-deep .owl-theme .owl-dots .owl-dot.active span {
    background: var(--text-green);
  }
  .cards-main {
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    app-cards {
      width: 32.33%;
    }
  }
  .highchart {
    justify-content: space-between;
    .col-7 {
      flex: 1;
      margin: 16px 0;
    }
    .col-4 {
      width: 32%;
    }
  }
  .analise {
    margin: 16px 0;
  }
  .mb-analise {
    display: flex;
    flex-wrap: wrap;
    mat-card {
      flex: 1;
      min-width: 100px;
      margin: 1.6%;
      p {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
      }
    }
  }
}
@media (max-width: 959px) {
  .main .container-charts .charts {
    width: 100%;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  .main .container-charts .charts {
    width: 500px;
  }
}
