.main {
  padding-left: 40px;
  padding-right: 40px;
  ::ng-deep .mat-tab-labels {
    justify-content: space-between;
  }
  .container-charts {
    display: flex;
    gap: 20px;
    .charts {
      flex: 1;
    }
    .chart-25 {
      width: 25%;
      max-width: 300px;
      margin-left: auto;
    }
    .chart-85 {
      width: 85%;
    }
    .chart-75 {
      width: 75%;
    }
  }

  ::ng-deep .mat-tab-label {
    padding: 0;
    // width: 32.33%;
    flex-grow: 0 !important;
    justify-content: flex-start;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    // background: var(--text-green-light);
    background: rgba(0, 0, 0, 0.15);
  }
  ::ng-deep .mat-ink-bar {
    background-color: transparent !important;
  }
  ::ng-deep .mat-tab-header {
    border: none;
    padding: 0;
  }

  ::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: var(--color-medium-white);
  }
  ::ng-deep .owl-theme .owl-dots .owl-dot.active span {
    background: var(--text-green);
    // color: red;
  }

  .cards-main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    app-cards {
      width: 32.33%;
    }
  }
  .highchart {
    display: flex;
    justify-content: space-between;
    .col-7 {
      flex: 1;
      margin: 16px 0;
    }
    .col-4 {
      width: 32%;
    }
  }
  .analise {
    margin: 16px 0;
  }
  .mb-analise {
    display: flex;
    flex-wrap: wrap;
    mat-card {
      flex: 1;
      min-width: 100px;
      margin: 1.6%;
      p {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
      }
    }
  }
}
@media (max-width: 599.99px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1024px) {
  .main .container-charts {
    flex-direction: column;
    .chart-25,
    .chart-75,
    .chart-85 {
      width: 100%;
      max-width: 100%;
    }
  }
}
