<section class="side-panel">
  <div (click)="search($event)" class="side-panel-top item-menu">
    <button disableRipple="true" mat-icon-button type="button">
      <mat-icon>search</mat-icon>
    </button>
    <span *ngIf="showText">Buscar</span>
    <button
      *ngIf="isMobile"
      (click)="closeSidePanel($event)"
      style="margin-left: auto"
      disableRipple="true"
      mat-icon-button
      type="button"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div class="sidebar bg-mode display-none">
    <ul class="app-menu-list">
      <li
        [matTooltip]="item.name"
        (click)="goTo(item)"
        [ngClass]="{ 'link-active': isActive === item.link }"
        *ngFor="let item of menuList"
        class="item-menu"
      >
        <button disableRipple="true" mat-icon-button type="button">
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <span *ngIf="showText">{{ item.name }}</span>
      </li>

      <li (click)="logout()" class="btn-logout item-menu">
        <button disableRipple="true" mat-icon-button type="button">
          <mat-icon>logout</mat-icon>
        </button>
        <span *ngIf="showText">Sair</span>
      </li>
    </ul>
  </div>
</section>
