@import "../../../styles.scss";

.form-incoming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .form-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .form {
      flex: 1;
      padding-left: 8px;
      padding-right: 8px;
    }
    .form-textarea {
      flex: 1;
      padding: 0 8px;
    }
    .mat-option {
      padding: 0 16px;
    }
  }
  .container-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin: 0 auto;
    align-items: center;
  }
  button {
    @include custom-button-icon-width-text;
  }
}

@media (max-width: 768px) {
  .form-incoming .container-button {
    button {
      max-width: 100%;
      margin: 8px 0;
    }
  }
}
