@import '../../../../styles.scss';

.tab-menu {
  width: 120px;
}
.btn-tab {
  @include custom-button-icon-width-text;
}
.span-btn {
  height: inherit;
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-weight: 300;
}
