@import '../../../themes/mixins';

.dialog,
.dialog .header,
.dialog .title,
.dialog .container-form-incoming {
  display: flex;
}
.dialog,
.dialog .title,
.dialog .container-form-incoming {
  align-items: center;
}
.dialog {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  position: relative;
  .header {
    width: 100%;
    .max-window {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .max-window span {
      cursor: pointer;
    }
  }
  .title {
    flex: 1;
    text-align: center;
    justify-content: center;
  }
  .container-form-incoming {
    height: inherit;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .dialog,
  .dialog .container-form-incoming {
    padding: 0;
  }
}
