.title {
  font-weight: 400;
  font-size: 1.1em;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  min-height: 40px;
  small {
    white-space: nowrap;
    overflow: hidden;
    text-transform: lowercase;
    text-overflow: ellipsis;
  }
}
