@import '../styles.scss';
.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -180deg,
    rgba(15, 74, 68, 0.7) 10%,
    rgba(15, 74, 68, 0.7) 100%
  );
  // background-color: #f0f0f0;
  // background-color: rgba(0, 0, 0, 0.09);
  // background: linear-gradient(-180deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 60%);
  // background: linear-gradient(-180deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 60%);
  // background: radial-gradient(rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 60%);
  // filter: blur(10px);
  // box-shadow: 0px 100px 100px 60px rgba(0, 0, 0, 0.09);
  .container-not-found {
    height: inherit;
    width: inherit;
    max-width: 550px;
    max-height: 350px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    h1 {
      font-weight: 100;
      font-size: 3em;
    }
    button {
      @include custom-button-icon-width-text;
    }
    @media (max-width: 600px) {
      padding: 16px;
      h1 {
        font-size: 2em;
        text-align: center;
      }
    }
  }
}
