@import "../../../../../styles.scss";

.settings-new-password {
  .container-forms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-inline {
      flex: 1;
      min-width: 255px;
      padding-right: 8px;
      .form {
        width: 100%;
      }
    }
  }
  .form-buttons button {
    @include custom-button-icon-width-text;
  }
}
