@import './mixins';

$mat-primary-pallete: mat-palette($mat-teal);
$mat-accent-pallete: mat-palette($mat-pink);

$mat-dark-primary: mat-palette($mat-teal);
$mat-dark-accent: mat-palette($mat-pink);

$app-light-theme: mat-light-theme($mat-primary-pallete, $mat-accent-pallete);
$app-dark-theme: mat-dark-theme($mat-dark-primary, $mat-dark-accent);
$bg-dark-mode: var(--color-default-dark);

$bg-light-mode: var(--white-one);
$white-one: var(--white-one);
$color-dark-mode: var(--color-white);

$text-dark: var(--text-dark);
$text-light: var(--text-midlle-light);
$text-accent: var(--text-accent);

$border-height: 20px;
$border-length: 60px;
$border-width: 15%;

.light-mode {
  @include angular-material-theme($app-light-theme);
  background: $bg-light-mode;
  .form-search {
    background: $bg-light-mode;
  }
  .hedaer-print {
    background-color: var(--color-whitesmoke);
  }
  .line-month {
    @include text;
    color: var(--text-middle-light);
  }
  .link-active {
    background: var(--color-medium-white);
    color: var(--text-green);
  }
  mat-card span.cards-money {
    @include span-cash;
    color: var(--text-middle-light);
  }
  span.cards-money {
    @include span-cash;
    color: var(--text-middle-light);
  }
  mat-card span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  mat-card span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  table tr .table-delete-icon {
    color: $bg-dark-mode;
  }
  .table-print tbody tr:nth-child(even) {
    background: #ddd;
  }
  .histories table tr:nth-child(even) {
    background: linear-gradient(
      -90deg,
      var(--color-whitesmoke) 100%,
      transparent
    );
  }
  .bg-mode {
    background: transparent;
  }
  .bg-mode-custom {
    background: linear-gradient(-90deg, var(--color-whitesmoke), transparent);
    button:hover {
      background: var(--color-white);
    }
  }
  .highchart-tooltip {
    color: var(--color-default-dark);
    border-bottom: 1px solid #32323250;
  }
  .highchart-text {
    color: var(--color-default-dark);
  }
  .footer,
  .top {
    background: var(--color-medium-white);
  }
  .search-toolbar,
  .aside {
    background-color: var(--white-one);
  }
  .search-toolbar {
    border-bottom: 1px solid var(--green-microsoft);
  }
  .aside {
    border-right: 1px solid var(--green-microsoft);
  }
  .side-panel-top,
  .app-menu-list li {
    &:hover {
      color: var(--white-one);
      border-left: 1px solid var(--white-one);
    }
  }
  .side-panel {
    background-color: var(--green-microsoft);
  }
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
  .registers .container {
    background: var(--white-one);
  }
  .notification .card {
    border-bottom: 1px solid var(--white-two);
  }
}
