@import './mixins';

$mat-primary-pallete: mat-palette($mat-teal);
$mat-accent-pallete: mat-palette($mat-pink);

$mat-dark-primary: mat-palette($mat-teal);
$mat-dark-accent: mat-palette($mat-pink);

$app-light-theme: mat-light-theme($mat-primary-pallete, $mat-accent-pallete);
$app-dark-theme: mat-dark-theme($mat-dark-primary, $mat-dark-accent);
$bg-dark-mode: var(--color-default-dark);

$bg-light-mode: var(--white-two);
$white-one: var(--white-one);
$color-dark-mode: var(--color-white);

$text-dark: var(--text-dark);
$text-light: var(--text-midlle-light);
$text-accent: var(--text-accent);

$border-height: 20px;
$border-length: 60px;
$border-width: 15%;

.light-mode {
  @include angular-material-theme($app-light-theme);
  background: $bg-light-mode;
  .form-search {
    background: $bg-light-mode;
  }
  .hedaer-print {
    background-color: var(--color-whitesmoke);
  }
  .line-month {
    @include text;
    color: var(--text-middle-light);
  }
  .link-active {
    background: var(--color-medium-white);
    color: var(--text-green);
  }
  mat-card span.cards-money {
    @include span-cash;
    color: var(--text-middle-light);
  }
  span.cards-money {
    @include span-cash;
    color: var(--text-middle-light);
  }
  mat-card span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  span.cards-money-on {
    @include span-cash;
    color: var(--text-green);
  }
  mat-card span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  span.cards-money-off {
    @include span-cash;
    color: var(--text-accent);
  }
  table tr .table-delete-icon {
    color: $bg-dark-mode;
  }
  .table-print tbody tr:nth-child(even) {
    background: #ddd;
  }
  .histories table tr:nth-child(even) {
    background: linear-gradient(
      -90deg,
      var(--color-whitesmoke) 100%,
      transparent
    );
  }
  .bg-mode {
    background: transparent;
  }
  .bg-mode-custom {
    background: linear-gradient(-90deg, var(--color-whitesmoke), transparent);
    button:hover {
      background: var(--color-white);
    }
  }
  .highchart-tooltip {
    color: var(--color-default-dark);
    border-bottom: 1px solid #32323250;
  }
  .highchart-text {
    color: var(--color-default-dark);
  }
  .footer,
  .top {
    background: var(--color-medium-white);
  }
  .side-panel,
  .search-toolbar,
  .aside {
    background-color: $white-one;
  }
  .side-panel-top,
  .app-menu-list li {
    &:hover {
      opacity: 0.5;
      background: var(--white-ice);
      color: var(--text-green);
    }
  }
  .window {
    margin-bottom: 8px;
    margin-top: 8px;
    .window-body {
      padding: 8px 16px;
      border-left: 1px solid var(--white-one);
      border-right: 1px solid var(--white-one);
      border-collapse: collapse;
      overflow-y: auto;
      max-height: 768px;
      background-color: var(--white-one);
    }
    .window-top,
    .window-footer {
      height: $border-height;
      position: relative;
      padding: 0 $border-width;
      font-size: 0.9em;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      border-collapse: collapse;
    }
    .window-top {
      border-bottom: $border-height solid var(--white-one);
      border-right: $border-length solid transparent;
      border-left: $border-length solid transparent;
      border-collapse: collapse;
    }
    .window-footer {
      border-top: $border-height solid var(--white-one);
      border-right: $border-length solid transparent;
      border-left: $border-length solid transparent;
      border-collapse: collapse;
    }
    .window-top::before {
      content: '';
      position: absolute;
      height: 100%;
      width: $border-width;
      bottom: -$border-height;
      left: -$border-height;
      border-bottom: $border-length solid inherit;
      border-left: $border-length solid transparent;
      border-collapse: collapse;
    }
    .window-top::after {
      content: '';
      position: absolute;
      bottom: -$border-height;
      right: -$border-height;
      height: 100%;
      width: $border-width;
      border-bottom: $border-length solid inherit;
      border-right: $border-length solid transparent;
      border-collapse: collapse;
    }
    .window-footer::before {
      content: '';
      position: absolute;
      height: 100%;
      width: $border-width;
      top: -$border-height;
      left: -$border-height;
      border-top: $border-length solid inherit;
      border-left: $border-length solid transparent;
      border-collapse: collapse;
    }
    .window-footer::after {
      content: '';
      position: absolute;
      top: -$border-height;
      right: -$border-height;
      height: 100%;
      width: $border-width;
      border-top: $border-length solid inherit;
      border-right: $border-length solid transparent;
      border-collapse: collapse;
    }
    .top-container,
    .footer-container {
      width: 100%;
      height: inherit;
    }
    .top-container {
      margin-top: $border-height;
    }
    .footer-container {
      margin-bottom: $border-height;
    }
  }
}
