@mixin custom-button-icon-width-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  width: 120px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
@mixin title-login {
  font-size: 2.3em;
  font-weight: 100;
  margin: 16px 0;
  text-align: center;
}
@mixin size-container {
  max-width: 1280px;
}
@mixin span-cash {
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 600px) {
    font-size: 2em;
  }
}
@mixin text {
  text-transform: capitalize;
  margin: 8px 0;
  display: inline-block;
}
@mixin text-span {
  font-size: 12px;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 200px;
}
@mixin padding-page {
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 599.99px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@mixin container {
  max-width: 1368px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@mixin hint-error {
  display: inline-block;
  text-align: center;
  color: var(--text-accent);
  font-size: 0.8em;
}
