@import '../../../../styles.scss';

.settings {
  position: relative;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  .settings-container {
    display: flex;
    width: 100%;
    .aside {
      // min-width: 280px;
      ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
      .mat-list-base .mat-list-option .mat-list-item-content {
        padding: 0;
      }
      .list {
        cursor: pointer;
      }
      .list:focus {
        border: none;
        outline: none;
      }
    }
    .content {
      flex: 1;
      .pages {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .tabs {
    display: flex;
    .tab-header {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: 300px;
    }
    .tab-content {
      flex: 1;
    }
    @media (max-width: 600px) {
      .tab-header {
        max-width: 100%;
      }
    }
  }
  .profile,
  .new-password,
  .theme,
  .about,
  .account {
    flex: 1;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 16px;
  }
  .progress-bar {
    position: absolute;
    top: -10px;
  }
  .card {
    margin: 8px 0;
    padding: 13px 24px;
  }
  .application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .choose-mode {
    display: flex;
    justify-content: flex-end;
  }
  .form-profile,
  .form-account {
    .container-forms {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media (max-width: 600px) {
      .container-forms .form-inline,
      .container-forms .form-inline .form {
        width: 100%;
      }
    }
  }
  button {
    @include custom-button-icon-width-text;
  }
  .expansion-panels {
    margin: 8px 0;
  }
}

@media (max-width: 920px) {
  .settings .settings-container .aside.mobile {
    display: none;
  }
}
