<section class="settings">
  <!-- <mat-progress-bar *ngIf="isLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar> -->
  <div class="settings-container">
    <aside *ngIf="!isMobile" class="aside">
      <mat-list>
        <mat-list-item class="list" *ngFor="let item of settingsMenu" [routerLink]="item.target">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <p mat-line>{{item.subtitle}}</p>
        </mat-list-item>
      </mat-list>
    </aside>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>