<section class="settings">
  <div class="settings-container">
    <div style="flex: 1">
      <router-outlet></router-outlet>
    </div>
    <app-windows-hacker>
      <mat-list>
        <mat-list-item
          class="list"
          *ngFor="let item of settingsMenu"
          [routerLink]="item.target"
        >
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <p mat-line>{{ item.subtitle }}</p>
        </mat-list-item>
      </mat-list>
    </app-windows-hacker>
  </div>
</section>
