@import '../../../themes/mixins';

.highcharts {
  .date,
  .date .form-inline {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
  }
  .date {
    max-width: 480px;
    margin-left: auto;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    .form-inline,
    .form {
      width: 100%;
    }
    .form-inline {
      max-width: 320px;
      .form {
        max-width: 130px;
      }
    }
    .buttons button {
      @include custom-button-icon-width-text;
    }
  }
}

@media (max-width: 480px) {
  .date .form-inline {
    max-width: 100% !important;
  }
}
