.search-toolbar {
  margin-left: 64px;
  margin-top: 16px;
  padding: 0 30px 0 30px;
  width: inherit;
  .container-toolbar {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 64px;
    width: 100%;
    .form {
      width: inherit;
      background: rgba(0, 0, 0, 0.08);
      border-radius: 32px;
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 6px 12px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0;
      }
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      ::ng-deep .mat-form-field-infix {
        border-top: 0;
      }
      ::ng-deep .mat-input-element {
        font-size: 14px;
        height: 20px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: transparent;
      }
      .field {
        width: inherit;
        flex: 1;
        input[type='text'] {
          padding: 0 16px;
        }
      }
    }
  }
}
