<div class="search-toolbar">
  <button
    matTooltip="Abrir menu"
    (click)="hideMenu()"
    disableRipple="true"
    mat-icon-button
    type="button"
  >
    <mat-icon
      [svgIcon]="isDark ? 'menu_black_24dp' : 'menu_white_24dp'"
    ></mat-icon>
  </button>

  <div class="container-toolbar">
    <div class="perfil">
      <button
        matTooltip="Atualizar registros"
        disableRipple="true"
        mat-icon-button
        (click)="$event.stopPropagation()"
      >
        <mat-icon
          [svgIcon]="isDark ? 'upgrade_black_24dp' : 'upgrade_white_24dp'"
        ></mat-icon>
      </button>

      <button
        matTooltip="Notificações"
        disableRipple="true"
        mat-icon-button
        (click)="$event.stopPropagation()"
      >
        <mat-icon
          [svgIcon]="
            isDark
              ? 'notifications_none_black_24dp'
              : 'notifications_none_white_24dp'
          "
        ></mat-icon>
      </button>

      <button
        matTooltip="Adicionar despesa/receita"
        disableRipple="true"
        mat-icon-button
        (click)="$event.stopPropagation()"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon
          [svgIcon]="isDark ? 'add_black_24dp' : 'add_white_24dp'"
        ></mat-icon>
      </button>

      <button
        matTooltip="Abrir perfil"
        disableRipple="true"
        mat-icon-button
        type="button"
      >
        <mat-icon
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="perfil"
          style="cursor: pointer"
          [svgIcon]="
            isDark ? 'account_circle_black_24dp' : 'account_circle_white_24dp'
          "
        ></mat-icon>
      </button>
      <mat-menu #perfil="matMenu" overlapTrigger="true" class="profile">
        <ul role="list">
          <div class="img-perfil">
            <mat-icon
              [svgIcon]="
                isDark
                  ? 'account_circle_black_24dp'
                  : 'account_circle_white_24dp'
              "
            ></mat-icon>
          </div>
          <li role="list-item">
            <p style="display: flex; flex-direction: column">
              <small> {{ user?.name }}</small>
              <small> {{ user?.email }}</small>
              <small> {{ user?.tel }}</small>
            </p>
          </li>
          <li class="divider">
            <mat-divider></mat-divider>
          </li>
          <li
            matTooltip="Configurações"
            routerLink="/dashboard/settings"
            class="settings"
          >
            <mat-icon>settings</mat-icon>
            <span>Configurações</span>
          </li>
          <li matTooltip="Encerrar sessão" (click)="logout()" class="logout">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </li>
        </ul>
      </mat-menu>

      <mat-menu #menu="matMenu" overlapTrigger="true">
        <button (click)="add('incoming')" mat-menu-item>
          <mat-icon>add_circle_outline</mat-icon>
          <span style="font-weight: 500">RECEITA</span>
        </button>
        <button (click)="add('outcoming')" mat-menu-item>
          <mat-icon>add_circle_outline</mat-icon>
          <span style="font-weight: 500">DESPESAS</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
