<div class="search-toolbar">
  <button
    matTooltip="Abrir menu"
    (click)="hideMenu()"
    disableRipple="true"
    mat-icon-button
    type="button"
  >
    <mat-icon
      [svgIcon]="isDark ? 'menu_black_24dp' : 'menu_white_24dp'"
    ></mat-icon>
  </button>

  <div class="container-toolbar">
    <div class="perfil">
      <button
        matTooltip="Atualizar registros"
        disableRipple="true"
        mat-icon-button
        (click)="updateAllRegisters($event)"
      >
        <mat-icon
          [svgIcon]="isDark ? 'sync_black_24dp' : 'sync_white_24dp'"
        ></mat-icon>
      </button>

      <button
        matTooltip="Notificações"
        disableRipple="true"
        mat-icon-button
        [matMenuTriggerFor]="notification"
        (click)="$event.stopPropagation()"
      >
        <ng-container
          *ngIf="notifications$ | async as states; else notifyEmpty"
        >
          <ng-container *ngIf="states.length > 0; else notifyEmpty">
            <mat-icon
              [matBadge]="states.length"
              matBadgeColor="accent"
              [svgIcon]="
                isDark ? 'notifications_black_24dp' : 'notifications_white_24dp'
              "
            ></mat-icon>
          </ng-container>
        </ng-container>
        <ng-template #notifyEmpty>
          <mat-icon
            [svgIcon]="
              isDark
                ? 'notifications_none_black_24dp'
                : 'notifications_none_white_24dp'
            "
          ></mat-icon>
        </ng-template>
      </button>

      <button
        matTooltip="Adicionar despesa/receita"
        disableRipple="true"
        mat-icon-button
        (click)="$event.stopPropagation()"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon
          [svgIcon]="isDark ? 'add_black_24dp' : 'add_white_24dp'"
        ></mat-icon>
      </button>

      <button
        matTooltip="Abrir perfil"
        disableRipple="true"
        mat-icon-button
        type="button"
      >
        <mat-icon
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="perfil"
          style="cursor: pointer"
          [svgIcon]="
            isDark ? 'account_circle_black_24dp' : 'account_circle_white_24dp'
          "
        ></mat-icon>
      </button>
      <mat-menu #perfil="matMenu" overlapTrigger="true" class="profile">
        <ul role="list">
          <div class="img-perfil">
            <mat-icon
              [svgIcon]="
                isDark
                  ? 'account_circle_black_24dp'
                  : 'account_circle_white_24dp'
              "
            ></mat-icon>
          </div>
          <li role="list-item">
            <p style="display: flex; flex-direction: column">
              <small> {{ user?.name }}</small>
              <small> {{ user?.email }}</small>
              <small> {{ user?.tel }}</small>
            </p>
          </li>
          <li class="divider">
            <mat-divider></mat-divider>
          </li>
          <li
            matTooltip="Configurações"
            routerLink="/dashboard/settings"
            class="settings"
          >
            <mat-icon>settings</mat-icon>
            <span>Configurações</span>
          </li>
          <li matTooltip="Encerrar sessão" (click)="logout()" class="logout">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </li>
        </ul>
      </mat-menu>

      <mat-menu #menu="matMenu" overlapTrigger="true">
        <button (click)="add('incoming')" mat-menu-item>
          <mat-icon>add_circle_outline</mat-icon>
          <span style="font-weight: 500">RECEITA</span>
        </button>
        <button (click)="add('outcoming')" mat-menu-item>
          <mat-icon>add_circle_outline</mat-icon>
          <span style="font-weight: 500">DESPESAS</span>
        </button>
      </mat-menu>

      <mat-menu
        yPosition="above"
        #notification="matMenu"
        overlapTrigger="true"
        class="notification"
      >
        <ng-container
          *ngIf="notifications$ | async as states; else matMenuEmpty"
        >
          <div *ngIf="states.length > 0; else matMenuEmpty">
            <div class="card" *ngFor="let item of states">
              <div
                class="icons"
                [ngClass]="{
                  'trending-down': item.type === 'outcoming',
                  'trending-up': item.type === 'incoming'
                }"
              >
                <mat-icon
                  *ngIf="item.type === 'outcoming'"
                  [svgIcon]="
                    isDark
                      ? 'trending_down_black_24dp'
                      : 'trending_down_white_24dp'
                  "
                ></mat-icon>

                <mat-icon
                  *ngIf="item.type === 'incoming'"
                  [svgIcon]="
                    isDark ? 'trending_up_black_24dp' : 'trending_up_white_24dp'
                  "
                ></mat-icon>
              </div>
              <div class="content">
                <p class="value">
                  <span
                    [ngStyle]="{
                      color:
                        item.type === 'outcoming'
                          ? 'var(--text-accent)'
                          : isDark
                          ? 'var(--green-microsoft)'
                          : 'var(--text-green)'
                    }"
                  >
                    <span *ngIf="item.type === 'outcoming'">-</span>
                    R$ {{ formatarValor(item.value) }}
                  </span>
                </p>
                <p class="date">
                  <span>{{ item.created_at * 1000 | date: 'medium' }}</span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #matMenuEmpty>
          <div class="notification-empty">
            <h1>Vazio</h1>
          </div>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>
