@import '../../../themes/mixins';

$padding-size: 16px;
.dialog {
  height: 100%;
  .dialog-container.detail,
  .dialog-container.login,
  .dialog-container.download,
  .dialog-container.search {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .header {
      width: 100%;
      display: flex;
      .max-window {
        position: absolute;
        top: 0;
        right: 0;
      }
      .max-window span {
        cursor: pointer;
      }
    }
    .title {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .title.login {
      text-transform: uppercase;
    }
    .content-dialog {
      padding: 22px;
      flex: 1;
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      flex-direction: column;
      .line {
        width: 100%;
      }
      .description {
        font-size: 14px;
      }
      .status {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
      }
      p {
        text-align: center;
      }
      .categoria {
        font-size: 35px;
      }
      .valor {
        display: flex;
        flex-direction: column;
        .cards-money-on,
        .cards-money-off {
          font-size: 60px;
        }
      }
    }
    .container-footer {
      padding: $padding-size;
      display: flex;
      align-items: center;

      .container-tools {
        flex: 1;
        display: flex;
      }
      .date span {
        font-size: 12px;
      }
    }
  }
  .dialog-container.search {
    ::ng-deep .mat-form-field-wrapper {
      padding: 0 !important;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0 !important;
    }
    ::ng-deep
      .mat-form-field-appearance-outline.mat-focused
      .mat-form-field-outline-thick {
      color: transparent !important;
    }
  }
  .dialog-container.search .content-dialog {
    padding: 0;
    display: block;
  }
  .dialog-container.search .container-footer {
    width: 100%;
    justify-content: space-between;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .dialog-container.search .container-footer button {
    @include custom-button-icon-width-text;
  }
  .dialog-container.login .max-window button:focus,
  .dialog-container.login .max-window button:active {
    background: transparent;
  }
  .dialog-container.login .progress-bar {
    position: absolute;
    top: 0;
  }
  .dialog-container.detail {
    min-height: 450px;
  }
  .dialog-container.login {
    padding: 10%;
  }
}

@media screen and (max-width: 557px) {
  .dialog .dialog-container.detail .content-dialog .valor .cards-money-on,
  .dialog .dialog-container.detail .content-dialog .valor .cards-money-off {
    font-size: 40px;
  }
  .dialog .dialog-container.detail .container-footer .date span {
    font-size: 0.64em;
  }
}
