@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import '~@angular/material/theming';
@import './themes/light';
@import './themes/dark';
@include mat-core();

:root {
  // light
  --text-accent: #ff4081;
  --text-light: #08090c50;
  --text-middle-orange: #e67e22;
  --text-middle-light: #585858;
  --text-green: #009688;
  --text-green-light: #00968850;
  --color-white: white;
  --color-whitesmoke: whitesmoke;
  --color-medium-white: #fafafa;
  --bg-light-color: #fafafa;
  --white-one: #fff;
  --white-two: #eee;
  --white-three: #ddd;
  --white-ice: #ecf0f1;
  //dark
  // --color-default-dark: #303030;
  // --color-default-dark: #151825;
  // --color-default-dark: #0b0d14;
  // --color-default-dark: #15141d;
  // --color-dark-secondary: #12181f;

  --text-dark: #d65a31;
  --text-dark-green: #0ff5e6;
  --color-default-dark: #060818;
  --color-dark-secondary: #131722;
  --color-dark: #212121;
  --bg-dark-color: #505050;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

$mat-primary-pallete: mat-palette($mat-teal);
$mat-accent-pallete: mat-palette($mat-pink);

$mat-dark-primary: mat-palette($mat-teal);
$mat-dark-accent: mat-palette($mat-pink);

$app-light-theme: mat-light-theme($mat-primary-pallete, $mat-accent-pallete);
$app-dark-theme: mat-dark-theme($mat-dark-primary, $mat-dark-accent);

$bg-dark-mode: var(--color-default-dark);
$bg-light-mode: var(--color-medium-white);
$color-dark-mode: var(--color-white);

$text-dark: var(--text-dark);
$text-light: var(--text-midlle-light);
$text-accent: var(--text-accent);

$border-height: 8px;
$border-width: 15%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  position: relative;
  scroll-behavior: smooth;
}
h2.welcome-subtitle {
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin: 15px 0;
}
@mixin custom-button-icon-width-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  width: 120px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
@mixin title-login {
  font-size: 2.3em;
  font-weight: 100;
  margin: 16px 0;
  text-align: center;
}
@mixin size-container {
  max-width: 1280px;
}
.offline {
  .loading {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 200px;
    max-height: 225px;
  }
}
.custom-select {
  .mat-option-text {
    padding: 0 16px;
  }
}
@mixin span-cash {
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 600px) {
    font-size: 2em;
  }
}

@mixin text {
  text-transform: capitalize;
  margin: 8px 0;
  display: inline-block;
}

.dialog-default {
  width: 100%;
  max-height: 500px;
  max-width: 768px !important;
  .mat-dialog-container {
    padding: 0;
    background: transparent !important;
    box-shadow: none !important;
  }
}
.mat-menu-panel.profile {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  .mat-menu-content:not(:empty) {
    width: 100%;
  }
  ul {
    list-style: none;
    text-align: center;
    width: 100%;
    .img-perfil {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 85px;
      margin: 0 auto;
    }
    .img-perfil mat-icon {
      font-size: 3em;
      width: inherit;
      height: inherit;
    }
    .divider {
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      margin: 16px 0;
    }
    li.settings,
    li.logout {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 16px;
      cursor: pointer;
    }
  }
}
.cdk-global-scrollblock {
  position: static;
}
::-webkit-scrollbar-track {
  // background: #ff408190;
  background: #0ff5e680;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c2bcbc;
  border-radius: 10px;
}

@media screen and (max-width: 557px) {
  .dialog-default {
    max-width: 90% !important;
  }
  .mat-menu-panel.profile {
    width: 200px;

    ul .img-perfil mat-icon {
      font-size: 3em;
    }
    ul li.settings,
    ul li.logout {
      font-size: 0.9em;
    }
  }
  .dark-mode .bg-mode {
    background: var(--color-default-dark);
  }
  .light-mode .bg-mode {
    background: var(--color-whitesmoke);
  }
}

@media screen and (min-width: 557.98px) and (max-width: 768px) {
  .dialog-default {
    max-width: calc(100% - 211px) !important;
  }
  .dark-mode .bg-mode {
    background: var(--color-default-dark);
  }
  .light-mode .bg-mode {
    background: var(--color-whitesmoke);
  }
}

@media screen and (min-width: 768.98px) and (max-width: 1024px) {
  .dialog-default {
    max-width: calc(100% - 256px) !important;
  }
}
