@import '../../../styles.scss';
.cards,
.cards .cards-header,
.cards .cards-title,
.cards .cards-cash {
  display: flex;
}
.cards,
.cards .cards-header {
  justify-content: space-between;
}
.cards,
.cards .cards-title {
  overflow: hidden;
  justify-content: space-between;
}
.cards {
  min-height: 100px;
  width: 100%;
  flex-direction: column;
  background-color: inherit;
  box-shadow: none;
  padding: 8px;
  h1 {
    font-weight: 500;
  }
  .cards-header,
  .cards-title {
    align-items: center;
  }
  .cards-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    .eyes mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    span {
      font-size: 14px;
      font-weight: 300;
      margin-right: 8px;
      display: inline-block;
    }
  }

  .cards-cash {
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    margin: 16px 0;
    .hide-value {
      font-size: 35px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #585858;
    }
    .hide-value span {
      height: 20px;
      background: rgba(0, 0, 0, 0.08);
      flex: 1;
      filter: blur(2px);
    }
  }
  .cards-debit {
    color: var(--text-accent);
  }
  .cards-label {
    font-size: 12px;
    font-weight: 100;
  }
  .loading-waves {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
  }
  .loading-waves::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(15px);
    animation: waves 1s linear infinite;
    position: absolute;
    top: 0;
  }
}
@keyframes waves {
  to {
    transform: translateX(100%);
  }
}
