<section class="dashboard">
  <div class="dashboard-container" [ngClass]="{ backdrop: hide && isMobile }">
    <div
      class="aside"
      [ngClass]="{
        'width-70': hide && !isMobile,
        'width-250': !hide && !isMobile,
        'width-mb-70': hide && isMobile,
        'width-mb-250': !hide && isMobile
      }"
    >
      <app-sidepanel
        (send)="hideMenu($event)"
        [showText]="(!hide && !isMobile) || (hide && isMobile)"
      ></app-sidepanel>
    </div>

    <div
      class="container"
      [ngClass]="{
        'left-70': hide && !isMobile,
        'left-250': !hide && !isMobile
      }"
    >
      <div
        class="toolbar"
        [ngClass]="{
          'toolbar-70': hide && !isMobile,
          'toolbar-250': !hide && !isMobile,
          'toolbar-mb': isMobile
        }"
      >
        <app-toolbar
          (updateRegisters)="updateRegisters($event)"
          (send)="hideMenu($event)"
        ></app-toolbar>
      </div>
      <div class="pages">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
