@import '../../../themes/mixins';

$min-height: 80px;

.dashboard,
.dashboard .dashboard-container .container {
  width: 100%;
  height: 100%;
}
.dashboard,
.dashboard .dashboard-container .container,
.dashboard .dashboard-container .aside {
  overflow-y: auto;
}
.dashboard {
  .dashboard-container {
    display: flex;
    padding-bottom: 5%;
    z-index: 1;
    .toolbar,
    .aside {
      transition: all 0.2s;
    }
    .toolbar {
      height: $min-height;
      position: fixed;
      z-index: 2;
    }
    .aside {
      position: fixed;
      overflow-x: hidden;
      height: 100%;
      z-index: 5;
    }
    .width-70 {
      width: 64px;
    }
    .width-mb-70 {
      width: 250px;
    }
    .width-mb-250 {
      left: 100%;
    }
    .left-70 {
      margin-left: 64px;
    }
    .toolbar-70 {
      width: calc(100% - 64px);
    }
    .width-250 {
      width: 250px;
    }
    .left-250 {
      margin-left: 250px;
    }
    .toolbar-250 {
      width: calc(100% - 250px);
    }
    .toolbar-mb {
      width: 100%;
    }
    .container {
      transition: all 0.2s;
    }
    .pages {
      margin-top: $min-height;
      @include container;
    }
  }
  .dashboard-container.backdrop::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
  }
}

@media print {
  .dashboard .aside,
  .dashboard .aside.mobile,
  .dashboard .button-top,
  .dashboard .container .toolbar {
    display: none;
  }
}
