<div class="settings-menu">
  <div class="profile">
    <mat-card style="background: transparent; box-shadow: none">Você</mat-card>
    <mat-accordion [multi]="true">
      <mat-expansion-panel #profile>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon mat-list-icon>person</mat-icon>
            <span style="margin-left: 16px">Informações pessoais</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="submenu">
          <li class="submenu-item" routerLink="/dashboard/settings/profile">
            <mat-icon class="color-icons" svgIcon="person_outline"></mat-icon>
            <p class="submenu-desc">
              <span>Perfil</span>
              <small>Configurar nome, email, telefone etc...</small>
            </p>
            <mat-icon
              class="color-icons"
              style="margin-left: auto"
              svgIcon="chevron_right_black"
            ></mat-icon>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>dark_mode</mat-icon>
            <span style="margin-left: 16px">Tema</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
          <app-dark-theme></app-dark-theme>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon mat-list-icon>manage_accounts</mat-icon>
            <span style="margin-left: 16px">Aplicação</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="submenu">
          <li (click)="logout()" class="submenu-item">
            <mat-icon class="color-icons" svgIcon="logout_black"></mat-icon>
            <p class="submenu-desc">
              <span>Encerrar sessão</span>
              <small
                >Encerrar será desconectado de todos os dispositivos.</small
              >
            </p>
          </li>
          <li (click)="deleteAccount()" class="submenu-item delete">
            <mat-icon
              class="color-icons delete"
              svgIcon="delete_outline"
            ></mat-icon>
            <p class="submenu-desc">
              <span>Deletar conta</span>
              <small>Excluir conta - irá excluir todos os registros.</small>
            </p>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="about">
    <mat-card style="background: transparent; box-shadow: none">Sobre</mat-card>
    <mat-accordion>
      <mat-expansion-panel
        #about
        (opened)="closePanel()"
        routerLink="/dashboard/settings/about"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>info</mat-icon>
            <span style="margin-left: 16px">Sobre</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
